@code {
    [Parameter] @* category: inbox || outbox *@
    public String? category { get; set; }

    [Parameter]
    public String? senderTitle { get; set; }

    [Parameter]
    public String? senderAvatarUrl { get; set; }

    [Parameter]
    public String? textMessage { get; set; }

    [Parameter]
    public String? timeStamp { get; set; }

    [Parameter]
    public String? deliveryStatus { get; set; }

    [CascadingParameter(Name = "FontAwesomeIconStyle")]
    private string? FontAwesomeIconStyle
    {
        get; set;
    }
}

@if (category == "inbox"){
    <div class="message">
        <img 
            class="avatar-md" 
            src="@senderAvatarUrl" 
            data-toggle="tooltip" 
            data-placement="top" 
            title="@senderTitle" 
            alt="avatar"
        >
        <div class="text-main">
            <div class="text-group">
                <div class="text">
                    <p>@textMessage</p>
                </div>
            </div>
            <span>@timeStamp</span>
        </div>
    </div>    
}else{
<div class="message me">
    <div class="text-main">
        <div class="text-group me">
            <div class="text me">
                <p>@textMessage</p>
            </div>
        </div>
        <span>@timeStamp</span>
        <span>@((MarkupString)GetMessageDeliveryStatusIcon())</span>
            @*<span>
                <i class="@FontAwesomeIconStyle @deliveryStatus"></i>
            </span>*@
    </div>
</div>
}

@* Delivery message status can be
    read - read by the recipient (Icon - two blue ticks) - <i class="fa-check-double"></i>
    sent - sent to the server (Icon - one blue tick) - <i class="fa-solid fa-check"></i>
    delivered - delivered to the recipient (Icon - two grey ticks) - <i class="fa-solid fa-check-double"></i>
    pending - message is pending to be sent (Icon - clock) - <i class="fa-regular fa-clock"></i>
    failed- message failed to send (Icon - red exclamation mark) - <i class="fa-solid fa-exclamation-circle"></i>
*@

@code{
    private string GetMessageDeliveryStatusIcon()
    {
        switch (deliveryStatus)
        {
            case "delivered":
                return $"<i class = 'fa fa-check-double {FontAwesomeIconStyle}' style = 'font-size:1em;'></i>";
            case "read": 
                return $"<i class = 'fa fa-check-double {FontAwesomeIconStyle}' style = 'color: #2196F3; font-size:1em;' ></i>";
            case "pending": 
                return $"<i class = 'fa fa-clock {FontAwesomeIconStyle}' style = 'font-size:1em;'></i>";
            case "failed": 
                return $"<i class = 'fa fa-exclamation-circle {FontAwesomeIconStyle}' style = 'font-size:1em;'></i>";
            default:
                return $"<i class = 'fa fa-check {FontAwesomeIconStyle}' style = 'font-size:1em;'></i>";
        }
    }
}